h1 {color:chocolate;}
p {color:#cefa87;}
body{background-color:#87cefa;}
a{color: #417659;;}
#warning {color:red}
#no-more-here{color:green}
#light-green{color:#cefa87}
ul{color: #193ed2;}
li{color:#193ed2}
h2{color:chocolate;}
img {border-radius:10px;
border:solid #87cefa 2px;}
button {background-color:pink;border-radius:0 100px 0 100px;}