h1 {color:chocolate;}
p {color:#cefa87;}
body {
  background-image: linear-gradient(to bottom, rgb(61, 61, 232), #87cefa);
  min-height: 100vh;
  margin: 8px; 
}
a{color: #417659;;}
#warning {color:red}
#no-more-here{color:green}
#light-green{color:#cefa87}
ul{color: #193ed2;}
li{color:#193ed2}
h2{color:chocolate;}
img {border-radius:10px;
border:solid #87cefa 5px;}
button {background-color:pink;border-radius:0 100px 0 100px;}
.gidole-regular {
    font-family: "Gidole", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
.link {
 background-color:rgb(17, 121, 11);border-radius:50px 50px 50px 50px;
 width:100px;
 height:40px;
 transition:background-color;
 transition-duration:500ms;
}
.link:hover{
background-color:rgb(29, 216, 216);
}